<app-navbar></app-navbar>
<div class="containor">
    <div class="row" class="mx-auto" *ngFor="let battle of battles">
      <div class="col-md-6">
          <div class="shadow p-3 m-4 bg-white rounded">
              <h4 *ngIf="battle.winner == 'Clone Troopers Win!!!!'" >{{battle.id}} . <span class="text-success"> {{battle.winner}}</span></h4>
              <h4 *ngIf="battle.winner == 'Droid army wins!'" >{{battle.id}} . <span class="text-danger"> {{battle.winner}}</span></h4>
              <div>{{battle.summary}}</div>
          </div>
      </div>
    </div>
  </div>